<app-top></app-top>

<div *ngIf="gameInProgress; else endGame">
    <app-panel (finishGame)="finishGame($event)"></app-panel>
</div>
<ng-template #endGame>
    <div *ngIf="typeFinish === 'lost'; else wonGame" class="container">
        <div class="row">
            <div class="col">
                <p>Fim de jogo - Lost</p>
                <button class="btn btn-primary" (click)="restartGame()">Restart Game</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #wonGame>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Fim de jogo - Won</p>
                <button class="btn btn-primary" (click)="restartGame()">Restart Game</button>
            </div>
        </div>
    </div>
</ng-template>